<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a routerLink="/panel" class="navbar-brand">Book store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="isLogin">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/panel"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >Home
      </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          About
      </a>
      </li>
    </ul>
  </div>
  <button class="btn btn-secondary" *ngIf="isLogin" (click)="logout()">Logout</button>
  <a routerLink="login" class="btn btn-danger" *ngIf="!isLogin">Login</a>
</nav>
