<div class="container">
    <div class="card card-body">
      <h2 class="card-title text-primary">Add book</h2>
      <form
        #form="ngForm"
        (ngSubmit)="addBook()"
      >
        <app-form-field [state]="book" [propName]="'name'"></app-form-field>
        <app-form-field [state]="book" [propName]="'description'"></app-form-field>
        <app-form-field [state]="book" [propName]="'author'"></app-form-field>
        <app-links [book]="book"></app-links>
        <app-save></app-save>
      </form>
    </div>
  </div>
