<div class="container">
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mb-4 mt-4">
          <span class="text-primary">Login</span>
        </h1>
      <form
        novalidate
        #form="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
          >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
            >
        </div>
        <button
          class="btn btn-primary"
          [disabled]="form.invalid"
        >
          LogIn
        </button>
      </form>
    </div>
  </div>
  </div>
</div>

