<div
  class="form-group"
  *ngFor="let link of book.link; let i = index;"
  >
  <label
    for="book.link[i]['type']"
  >
    Link to: {{book.link[i]['type']}}
  </label>
  <input
    type="text"
    class="form-control"
    id="book.link[i]['type']"
    name="book.link[i]['type']"
    [(ngModel)]="book.link[i]['link']"
  >
</div>
<p>
  <button
    *ngIf="book.link.length < 2"
    type="button"
    class="btn btn-secondary"
    (click)="addLinkField()"
  >
    Add link field
  </button>
</p>

