<div class="container">
  <a
    routerLink="/addbook"
    class="btn btn-primary mb-4"
  >
    Add book
  </a>
  <div class="row">
    <div
      class="col-4"
      *ngFor="let book of books"
    >
      <div class="card card-body">
        <div class="card-title">{{ book.name }}</div>
        <span class="text-info">{{ book.author }}</span>
        <p class="card-text">{{ book.description }}</p>
        <span *ngFor="let link of book.link">
          <a
            href="{{ link.link }}"
            class="d-inline-block"
          >
            {{ link.type }}
          </a>
        </span>
        <button
          class="btn btn-danger mt-3"
          (click)="deleteCard(book.id)"
        >
          Delete
        </button>
        <a
          class="btn btn-primary mt-2"
          routerLink="/books/{{ book.id }}"
        >
          Edit
        </a>
      </div>
    </div>
  </div>
</div>
